div.container{
    width: 600px;
    margin:0 auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    width:500px;
}

.sidebar{
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    background-color: #357b33;
    height:300px;
}

.contents{
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    height: 300px;
}
